{% extends 'website/header_footer.html' %} 
{% load static %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" type="text/css" />
{% endblock %} 

{% block content %} 
{% with title="Sticky link" %} 

<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <div class="col-12 col-md-6">
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span>That did not work. Please try again.</span>
        </div>
        {% endif %}

        {% if next %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% if user.is_authenticated %}
            <span> Your account doesn't have access to this page. To proceed, please login with an account that has access. </span>
            {% else %}
            <span> Please login to see this page. </span>
            {% endif %}
        </div>
        {% endif %}

        <script>
          $(".alert").alert();
        </script>
        <form method="POST" action="{% url 'login' %}" >
            {% csrf_token %}
            <div class="form-group">
                <label for="user-name">Login</label>
                <input
                    type="text"
                    name="username"
                    id="user-name"
                    autofocus
                    autocomplete="username"
                    autocapitalize="none"
                    maxlength="150"
                    class="form-control"
                    aria-describedby="UserNameHelp"
                />
                <small id="UserNameHelp" class="text-muted">Submit your user name or email</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" aria-describedby="UserNameHelp" />
                <small id="UserNameHelp" class="text-muted">Submit password</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn form-control btn-light border">Login</button>
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>
    </div>
</div>
{% endwith %} 
{% endblock %}
