{% extends 'website/index.html' %} 
{% load static %} 

{% block content %} 
<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="col-12 col-md-6">
        <form method="POST" action="{% url 'password_reset' %}" >
            {% csrf_token %}
            <div class="form-group">
                <label for="email">E-mail address used at registration
                    {% if form.errors.email %}                    
                        <span class="text-danger">{{ form.errors.email.as_text  }}</span>
                    {% endif %}
                </label>
                <input type="email" name="email" id="old_password" autofocus class="form-control" autocomplete="email" aria-describedby="EmailHelp" required />
                <small id="EmailHelp" class="text-muted">An e-mail matching with account</small>
            </div>     
            <div class="form-group">
                <button type="submit" class="btn form-control btn-light border">Send link</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
