[Unit]
Description=Gunicorn instance to serve sticky_link project
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/root/sticky_link
ExecStart=uwsgi --ini production.ini

[Install]
WantedBy=multi-user.target