[Unit]
Description=Gunicorn instance to serve sticky_link project
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/root/sticky_link
Environment="PATH=/root/sticky_link/venv/bin"
ExecStart=/root/sticky_link/venv/bin/gunicorn --workers 3 --bind unix:sticky_link.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target