[Unit]
Description= Serve sticky_link project
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/root/sticky_link
ExecStart=uwsgi --ini production.ini
ExecStop=uwsgi --stop /root/wsgi_master.pid

[Install]
WantedBy=multi-user.target