{% extends 'website/index.html' %}
{% load static %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="d-flex flex-column justify-content-center">
        <h1 class="display-3 text-center">Sticky link</h1>
        <p class="lead text-center">Take advantage of IoT in every day life!</p>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <hr class="w-100">
    <p class="w-75 text-center">
        Create simple interfaces in just a moment! Collect in one place wany useful widgets to for your perfect dashboard. It is free and simple. No code!
    </p>
    <hr class="w-100">
</div>
<div class="row">
    <div class="col-12 col-sm-3">
        <p class="text-center">Start up a small manufacture or shop. Track you stocks and orders! Keep everything in a view</p>
        <p class="text-muted small text-center">An example of stock control system</p>
    </div>
    <div class="col-12 col-sm-9">
        <img class="w-100" src="{% static 'img/website-manufacture-wall.png' %}" alt="Youtube - Facebook wall example">
    </div>
</div> 
<div class="row">
    <div class="col-12 col-sm-9">
        <img class="w-100" src="{% static 'img/website-facebook-youtube-wall.png' %}" alt="Youtube - Facebook wall example">
    </div>
    <div class="col-12 col-sm-3">
        <p class="text-center">Manage you media activity! Place on the wall all that you might need and have a fast and comfortable access to your data </p>
        <p class="text-muted small text-center">An example of media activity manager</p>
    </div>
</div> 
<div class="row">
    <div class="col-12 col-sm-3">
        <p class="text-center">Gain control over study process! Follow tasks, manage school resources with functional widgets</p>
        <p class="text-muted small text-center">An example of studies manager</>
    </div>
    <div class="col-12 col-sm-9">
        <img class="w-100" src="{% static 'img/website-study-manager-wall.png' %}" alt="Youtube - Facebook wall example">
    </div>
</div>
{% endblock %}