[Unit]
Description= Serve sticky_link project
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/sticky_link
ExecStart=source deploy/env.sh && uwsgi --ini deploy/production.ini
ExecStop=uwsgi --stop /var/www/sticky_link/deploy/uwsgi_master.pid

[Install]
WantedBy=multi-user.target