[Unit]
Description= Serve sticky_link project
After=network.target
Type=idle

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/sticky_link
ExecStart=sh /var/www/sticky_link/deploy/run-production.sh
ExecStop=uwsgi --stop /var/www/sticky_link/deploy/uwsgi_master.pid

[Install]
WantedBy=multi-user.target