{% extends 'website/header_footer.html' %} 
{% load static %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" type="text/css" />
{% endblock %} 

{% block content %} 
<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <div class="col-12 col-md-6">
        {% if user.is_authenticated %}
        <span> Please <a href="{% url 'logout' %}">log out</a> in order to create a new account</span>
        {% else %}
        {% if form.errors %}
            {% for error in form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span>{{ error | escape }}</span>
            </div>
            {% endfor %}
        {% endif %}
        <script>
          $(".alert").alert();
        </script>
        <form method="POST" action="{% url 'login' %}" >
            {% csrf_token %}
            <div class="form-group">
                <label for="user-name">User name</label>
                <input
                    type="text"
                    name="username"
                    id="user-name"
                    autofocus
                    maxlength="150"
                    class="form-control"
                    aria-describedby="UserNameHelp"
                    required
                />
                <small id="UserNameHelp" class="text-muted">Choose your user name</small>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" class="form-control" aria-describedby="EmailHelp" required/>
                <small id="EmailHelp" class="text-muted">Submit your e-mail</small>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password1" name="password1" id="password1" class="form-control" aria-describedby="Password1NameHelp" />
                <small id="Password1NameHelp" class="text-muted">Submit password</small>
            </div>
            <div class="form-group">
                <label for="password2">Password conformation</label>
                <input type="password2" name="password2" id="password2" class="form-control"aria-describedby="Password2NameHelp" />
                <small id="Password2NameHelp" class="text-muted">Confirm password</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn form-control btn-light border">Sign up</button>
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
