{% extends 'website/index.html' %} 
{% load static %} 

{% block content %} 
<div class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="col-12 col-md-6">
        {% if user.is_authenticated %}
        <span> Please <a href="{% url 'logout' %}">log out</a> in order to create a new account</span>
        {% else %}
        {% if form.errors %}
            {% for err in form.errors.values %}
            <span class="text-danger">{{ err | escape }}</span>
            {% endfor %}
        {% endif %}
        <form method="POST" action="{% url 'django_registration_register' %}" autocomplete="on" >
            {% csrf_token %}
            <div class="form-group">
                <label for="user-name">User name</label>
                <input
                    type="text"
                    name="username"
                    id="user-name"
                    autofocus
                    maxlength="150"
                    class="form-control"
                    autocomplete="username"
                    aria-describedby="UserNameHelp"
                    required
                />
                <small id="UserNameHelp" class="text-muted">User name may contain any word character along with the following set of additional characters .(dot) @(at) +(plus) -(minus)</small>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" class="form-control" aria-describedby="EmailHelp" required/>
                <small id="EmailHelp" class="text-muted">Submit your e-mail</small>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" name="password1" id="password1" autocomplete="new-password" class="form-control" aria-describedby="Password1NameHelp" required />
                <small id="Password1NameHelp" class="text-muted">Submit password</small>
            </div>
            <div class="form-group">
                <label for="password2">Password conformation</label>
                <input type="password" name="password2" id="password2" autocomplete="new-password" class="form-control"aria-describedby="Password2NameHelp" required />
                <small id="Password2NameHelp" class="text-muted">Enter the same password as before, for verification.</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn form-control btn-light border">Sign up</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
<script>


</script>
{% endblock %}
