$enable-rounded: false;

$danger: #f25f5c;
$light: #e5edf3;
$silver: #d8dfe5;

@import "~bootstrap/scss/bootstrap";
@import "vue-select/src/scss/vue-select.scss";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~vue-draggable-resizable/dist/VueDraggableResizable.css";

html {
    font-size: 14px;
}

.bg-silver {
    background-color: $silver;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: $gray-400;
    color: unset;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.scrollable-element {
    scrollbar-color: $gray-400 $white;
}

::-webkit-scrollbar {
    height: 10px;
    background: $white;
}

::-webkit-scrollbar-thumb {
    background: $gray-400;
}

.cursor-move {
    cursor: move;
}
.cursor-pointer {
    cursor: pointer;
}
.cursor-default {
    cursor: default;
}

.widget {
    margin: 0;
    padding: 0.3rem;
}

.widget-border {
    border-style: solid;
    border-width: 1px;
    border-color: #dadada;
}
.no-border {
    border: none;
}

.wall-only > .handle {
    text-align: center;
    background-color: transparent;
    color: #adb5bd;
    width: 100%;
    border: none;
}
.wall-only > .handle-bm {
    background-color: $gray-400;
    height: 2px;
    top: calc(100% - 2px);
    left: 0%;
    margin-left: 0;
    z-index: 101;
}
.hidden {
    display: none !important;
}

.widget-title {
    font-size: 1rem;
    color: $dark;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
